<div class="app-wrapper">
    <!-- HEADER START -->
    <app-header></app-header>
    <!-- HEADER END -->

    <!-- SIDEBAR START -->
    <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark"> 
  <app-sidebar></app-sidebar>
  </aside>

    <!-- SIDEBAR END -->

    <!-- MAIN START -->
    <main class="app-main"> 
        <router-outlet></router-outlet>
        </main>

    <!-- MAIN END -->

    <!-- FOOTER START -->
   <app-footer></app-footer>
    <!-- FOOTER END -->

</div>

